@font-face {
  font-family: "Average Sans Regular";
  src:  local("Average Sans Regular"),
        url("../fonts/AverageSans-Regular.woff2"),
        url("../fonts/AverageSans-Regular.woff"),
        url("../fonts/AverageSans-Regular.ttf");
}

body {
  font-family: "Average Sans Regular";
}
