<div class="luxbar luxbar-fixed">
  <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox">
    <div class="luxbar-menu luxbar-menu-right luxbar-menu-dark">
      <ul class="luxbar-navigation">
        <li class="luxbar-header">
          <a class="luxbar-brand" href="/">DonutDeflector</a>
            <label class="luxbar-hamburger luxbar-hamburger-spin" for="luxbar-checkbox"><span></span></label>
        </li>
        <li class="luxbar-item {% if page.categories == "homepage" %} active {% endif %}"><a href="/">Home</a></li>
        <li class="luxbar-item {% if page.url contains "projects" %} active {% endif %}"><a href="/projects/">Projects</a></li>
        <li class="luxbar-item {% if page.url contains "contact" %} active {% endif %}"><a href="/contact/">Contact</a></li>
      </ul>
    </div>
</div>