:root {
  --color-primary: #64D5CA;
  --color-secondary: #FA7EA8;
  --color-white: #DAE1E7;
  --color-gray: #2d353d;
  --color-gray-2: #313b44;
  --color-black: #22292F;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@font-face {
  font-family: "Akrobat";
  font-weight: 400;
  font-style: normal;
  src:local("Akrobat Regular"),
  url("/assets/fonts/akrobat-regular.woff2"),
  url("/assets/fonts/akrobat-regular.woff"),
  url("/assets/fonts/akrobat-regular.ttf");
}

@font-face {
  font-family: "Phenomena";
  font-weight: 900;
  font-style: normal;
  src:local("Phenomena Black"),
  url("/assets/fonts/phenomena-black.woff2"),
  url("/assets/fonts/phenomena-black.woff"),
  url("/assets/fonts/phenomena-black.ttf");
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Phenomena', sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 8.5rem;
}

h2 {
  font-size: 7rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 5rem;
}

h5 {
  font-size: 4rem;
}

h6 {
  font-size: 3rem;
}

button,
span,
li,
dl,
p {
  font-size: 2.2rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:focus,
a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

.small-label {
  font-size: 1.8rem;
}

.l-box {
  padding-bottom: 1rem;
}

.l-box:nth-child(odd) {
  padding-right: 0;
}

button {
  display: inline-block;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  padding: 0.5rem 0.7rem;
  font-size: 2.2rem;
  text-decoration: none;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-out;
  border: 0;
}

button:focus,
button:hover {
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-family: 'Akrobat', sans-serif;
  font-weight: 400;
  padding: 0.5rem 0.7rem;
  font-size: 2.2rem;
  text-decoration: none;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-out;
  border: 0;
  margin-right: 5px;
}

.button:last-child {
  margin-right: 0;
}

.button-primary {
  color: var(--color-black);
  background-color: var(--color-primary);
}

.button-primary:focus,
.button-primary:hover {
  color: var(--color-black);
  background-color: var(--color-secondary);
}

.card {
  position: relative;
  margin: 0;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  background-color: var(--color-gray);
  transition: all 0.3s ease;
  height: auto;
}

.card:focus,
.card:hover {
  background-color: var(--color-gray-2);
  box-shadow: var(--shadow-2);
}

nav {
  position: absolute;
  margin: 0 auto;
  margin-top: 15px;
  left: 0;
  right: 0;
  width: 320px;
  z-index: 3;
}

.nav-container {
  padding: 10px;
  background: var(--color-black);
  color: var(--color-white);
  box-shadow: var(--shadow);
  text-align: center;
}

.nav-container span {
  font-size: 2.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-720.jpg') center / cover no-repeat;
  -webkit-box-shadow:inset 0px 0px 0px 5px var(--color-white);
  -moz-box-shadow:inset 0px 0px 0px 5px var(--color-white);
  box-shadow:inset 0px 0px 0px 5px var(--color-white);
}

.hero-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 320px;
  -webkit-box-shadow:inset 0px 0px 0px 0px var(--color-white);
  -moz-box-shadow:inset 0px 0px 0px 0px var(--color-white);
  box-shadow:inset 0px 0px 0px 0px var(--color-white);
}

.hero-container {
  z-index: 1;
  max-width: 960px;
  padding: 0 20px;
  margin: auto;
  text-align: center;
}

.heading {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 7px double var(--color-white);
}

.subheading-container {
  margin-bottom: 1rem;
}

.subheading {
  font-size: 2.4rem;
}

.social-media-icon {
  margin-right: 10px;
}

.social-media-icon:last-child {
  margin-right: 0;
}

.hero-arrow-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5vh;
  z-index: 1;
}

.hero-arrow {
  color: var(--color-white);
}

.hero-arrow:focus,
.hero-arrow:hover {
  color: var(--color-white);
}

.menu {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  z-index: -1;
}

.split {
  will-change: flex-grow;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white) !important;
  background: 
    linear-gradient(var(--mask-color),var(--mask-color)) repeat-x top / 100% 100%,
    var(--bg-url) center center no-repeat / cover;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.split:focus,
.split:hover {
  flex-grow: 5;
  text-decoration: none;
}

.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-480.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-480.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-480.jpg') center / cover no-repeat;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 10px 10px 0 10px;
}

.blog-menu {
  padding: 1rem 0 2rem 0;
  border-bottom: 1px solid var(--color-white);
}

.post-list {
  padding-top: 2rem;
}

.post-metadata {
  margin-top: 1.5rem;
}

.categories {
  text-transform: uppercase;
}

.post-category {
  display: inline-block;
  font-size: 1.8rem;
}

.tags {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.post-tag {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid var(--color-white);
  padding: 2px 5px;
  margin-top: 1rem;
  margin-right: 5px;
  font-size: 1.8rem;
}

.link-button {
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  padding: 2px 5px;
  margin-right: 5px;
}

.link-button:focus,
.link-button:hover {
  text-decoration: none;
  border: 1px solid var(--color-secondary);
}

.project-list {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.project-technology {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid var(--color-white);
  padding: 2px 5px;
  margin-right: 5px;
  font-size: 1.8rem;
}

.project-links button:first-child {
  margin-right: 5px;
}

footer {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 1rem 10px 10px;
  z-index: 1;
}

.footer-container {
  z-index: 1;
}

.footer-links {
  display: inline-block;
}

.footer-copyright {
  float: right;
  margin-top: 0;
}

.slanted-top,
.slanted-bottom {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.slanted-top:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(2deg);
  margin-top: -3.5vw;
}

.slanted-bottom:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(2deg);
}

@media (max-width: 375px) {
.footer-copyright {
  display: block;
  float: none;
  margin-top: 5px;
}
}

@media (max-height: 512px) {
.hero {
justify-content: flex-start;
}
.hero-secondary {
  justify-content: center;
}
}

@media (max-width: 1024px) {
html {
  font-size: 9px;
}

.menu {
  flex-direction: column;
}

.hero-container {
  margin: 10vh auto 0;
}
}

@media (min-width: 720px) {
.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-720.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-720.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-720.jpg') center / cover no-repeat;
}
}

@media (min-width: 768px) {
.card {
  height: 100%;
}

.l-box:nth-child(odd) {
  padding-right: 1rem;
}
}

@media (min-width: 1080px) {
.hero {
  background: 
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-1080.jpg') center / cover no-repeat;
}

.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-1080.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-1080.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-1080.jpg') center / cover no-repeat;
}
}

@media (min-width: 1440px) {
.hero {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-1440.jpg') center / cover no-repeat;
}

.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-1440.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-1440.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-1440.jpg') center / cover no-repeat;
}
}

@media (min-width: 2160px) {
.hero {
  background: 
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-2160.jpg') center / cover no-repeat;
}
}