/* Container */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 90%; }
}

@media (min-width: 550px) {
  .container {
    width: 90%; }
}

/* Fonts */

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src:local("Rubik"),
  url("/assets/fonts/Rubik-Regular.woff2"),
  url("/assets/fonts/Rubik-Regular.woff"),
  url("/assets/fonts/Rubik-Regular.ttf");
}


@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src:local("Rubik Bold"),
  url("/assets/fonts/Rubik-Bold.woff2"),
  url("/assets/fonts/Rubik-Bold.woff"),
  url("/assets/fonts/Rubik-Bold.ttf");
}

.is-center {
  text-align: center;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

.l-box {
  padding: 10px;
}

.pure-g [class*=pure-u] {
  font-family: "Rubik", sans-serif;
}

/* Cards */

.card {
  margin: 2.0rem 0;
  padding: 2.0rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #eee;
  transition: all 0.3s ease;
  height: auto;
}

.card:focus,
.card:hover,
.card:active,
.card.active {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Navigation */

nav {
  border-bottom: 1px solid #aaa;
}

nav h4 {
  margin-bottom: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2.0rem;
}

nav li {
  display: inline-block;
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 1.0rem;
}

nav li:last-child {
  padding-right: 0;
}

.profile-picture {
  border: 1px solid #D6DAE4;
  border-radius: 25%;
  margin: 0 auto;
  max-width: 200px;
}

.blog-menu {
  margin-top: 2.0rem;
  margin-bottom: 2.0rem;
}

.blog-menu p {
  font-size: 1.4rem;
  line-height: normal;
}

/* Header */

header h1 {
  margin: 0 0 1.5rem;
}

/* Article */

article {
  margin: 2rem 0;
}

.date {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 2.0rem;
}

/* Categories */

.categories {
  margin-top: 2.0rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.post-category {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px;
  background-color: #d6dae4;
  transition: all 0.3s ease;
}

.post-category:focus,
.post-category:hover,
.post-category:active,
.post-category.active {
  text-decoration: none !important;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

.categories li {
  display: inline-block;
  padding: 2px 5px 0px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #d6dae4;
}

.categories li:last-child {
  margin-right: 0;
}

/* Pagination */

.pagination {
  display: inline-block;
}

.previous {
  margin-right: 5px;
}

.page_number {
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1px 5px;
  display: inline-block;
}

/* Footer */

footer {
  margin-top: 1.5rem;
}

footer p {
  font-size: 1.6rem;
}

.copyright {
  display: block;
}

/* Other */

hr {
  border-width: 0;
  border-top: 1px solid #aaa;
}

/* Media Query */

@media (min-width: 500px) {
  .copyright {
    display: inline-block;
    float: right;
  }
}

@media (min-width: 1024px) {
  nav {
    border-bottom: none;
    border-right: 1px solid #aaa;
  }

  nav li {
    display: block;
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
}
