:root {
  --color-primary: #64D5CA;
  --color-secondary: #FA7EA8;
  --color-white: #DAE1E7;
  --color-gray: #2d353d;
  --color-gray-2: #313b44;
  --color-black: #22292F;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow-2: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 400;
  src:
    url('/assets/fonts/Fira-Sans-Extra-Condensed-Regular.woff2'),
    url('/assets/fonts/Fira-Sans-Extra-Condensed-Regular.woff'),
    url('/assets/fonts/Fira-Sans-Extra-Condensed-Regular.ttf');
}

@font-face {
  font-family: 'Fjalla One';
  font-weight: 400;
  src:
    url('/assets/fonts/fjalla-one-regular.woff2'),
    url('/assets/fonts/fjalla-one-regular.woff'),
    url('/assets/fonts/fjalla-one-regular.ttf');
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2.2rem;
}

button,
span,
li,
dl,
p {
  font-size: 2.2rem;
}

p {
  line-height: 1.3;
  margin: 1.5rem 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:focus,
a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
}

.bold {
  font-weight: 700;
}

.small-label {
  font-size: 1.8rem;
  margin-right: 0.5rem;
}

.l-box {
  padding-bottom: 1.5rem;
}

button {
  display: inline-block;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 400;
  padding: 0.4rem 0.7rem 0.2rem;
  font-size: 2.2rem;
  text-decoration: none;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-out;
  border: 0;
}

button:focus,
button:hover {
  text-decoration: none;
  cursor: pointer;
}

.button {
  display: inline-block;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: 400;
  padding: 0.4rem 0.7rem 0.2rem;
  font-size: 2.2rem;
  text-decoration: none;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-out;
  border: 0;
  margin-right: 5px;
}

.button:last-child {
  margin-right: 0;
}

.button-primary {
  color: var(--color-black);
  background-color: var(--color-primary);
}

.button-primary:focus,
.button-primary:hover {
  color: var(--color-black);
  background-color: var(--color-secondary);
}

.button-secondary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 0.4rem 0.6rem 0.1rem;
  background-color: none;
}

.button-secondary:focus,
.button-secondary:hover {
  border-color: var(--color-secondary);
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1.5rem;
  box-shadow: var(--shadow);
  background-color: var(--color-gray);
  transition: all 0.3s ease;
  height: auto;
}

.card:focus,
.card:hover {
  background-color: var(--color-gray-2);
  box-shadow: var(--shadow-2);
}

nav {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: var(--color-black);
  color: var(--color-white);
  border-top: 3px solid var(--color-primary);
  z-index: 3;
}

.nav-container {
  padding: 10px;
  box-shadow: var(--shadow);
  text-align: center;
}

.nav-container span {
  font-size: 2.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-720.jpg') center / cover no-repeat;
  border: 1rem solid var(--color-white);
}

.hero-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 58px;
  height: 320px;
  border: 0;
}

.hero-container {
  z-index: 1;
  width: auto;
  padding: 0 1.5rem;
  margin: auto;
  text-align: center;
}

.heading-container {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 7px double var(--color-white);
}

.subheading-container {
  margin-bottom: 1rem;
}

.subheading {
  font-size: 2.4rem;
}

.social-media-icon {
  margin-right: 10px;
}

.social-media-icon:last-child {
  margin-right: 0;
}

.hero-arrow-container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 5vh;
  z-index: 1;
}

.hero-arrow {
  color: var(--color-white);
}

.hero-arrow:focus,
.hero-arrow:hover {
  color: var(--color-white);
}

.menu {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  z-index: -1;
}

.split {
  will-change: flex-grow;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white) !important;
  background: 
    linear-gradient(var(--mask-color),var(--mask-color)) repeat-x top / 100% 100%,
    var(--bg-url) center center no-repeat / cover;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.split:focus,
.split:hover {
  flex-grow: 5;
  text-decoration: none;
}

.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-480.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-480.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-480.jpg') center / cover no-repeat;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.blog-menu {
  padding: 0 0 1.5rem 0;
  border-bottom: 1px solid var(--color-white);
}

.blog-menu a {
  font-size: 1.8rem;
}

.post {
  margin: auto;
  max-width: 768px;
}

.post-list {
  padding-top: 1.5rem;
  margin-bottom: -0.5rem;
}

.post-metadata {
  margin: 1.5rem 0 1.5rem;
  padding: 1.5rem;
  background-color: var(--color-gray);
}

.categories {
  text-transform: uppercase;
}

.post-category {
  display: inline-block;
  font-size: 1.8rem;
}

.tags {
  text-transform: uppercase;
}

.post-tag {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-size: 1.8rem;
}

.link-button {
  text-transform: uppercase;
  border: 1px solid var(--color-primary);
  padding: 0.4rem 0.7rem 0.2rem;
  margin-right: 5px;
}

.link-button:focus,
.link-button:hover {
  text-decoration: none;
  border: 1px solid var(--color-secondary);
}

.project-list {
  height: 100%;
  padding-bottom: 1.5rem;
}

.project-technology {
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid var(--color-white);
  padding: 0.4rem 0.7rem 0.2rem;
  margin-right: 5px;
  font-size: 1.8rem;
}

.project-image {
  margin-top: 1.5rem;
  width: 100%;
  border: 0.3rem solid var(--color-white);
  box-shadow: var(--shadow);
  transition: border 0.3s ease;
}

.project-links {
  margin-top: auto;
  padding-top: 1.5rem;
  border-top: 0.3rem solid var(--color-white);
}

.project-links .button:first-child {
  color: var(--color-black) !important;
  background-color: var(--color-primary);
}

.project-links .button:first-child:focus,
.project-links .button:first-child:hover {
  color: var(--color-black);
  background-color: var(--color-secondary);
}

.project-links .button:last-child {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 0.4rem 0.6rem 0.1rem;
  background-color: none;
}

.project-links .button:last-child:focus,
.project-links .button:last-child:hover {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
}

footer {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 1rem 10px 10px;
  z-index: 1;
}

.footer-container {
  z-index: 1;
}

.footer-links {
  display: inline-block;
}

.footer-copyright {
  float: right;
  margin-top: 0;
}

.slanted-top,
.slanted-bottom {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.slanted-top:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(2deg);
  margin-top: -3.5vw;
}

.slanted-bottom:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 0;
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(2deg);
}

@media (min-width: 0px) and (max-width: 340px) {
.heading {
  font-size: 4.5rem;
}
}

@media (max-width: 375px) {
.footer-copyright {
  display: block;
  float: none;
  margin-top: 5px;
}
}

@media (min-width: 341px) and (max-width: 400px) {
.heading {
  font-size: 5rem;
}
}

@media (min-width: 401px) and (max-width: 425px) {
.heading {
  font-size: 5.5rem;
}
}

@media (max-height: 512px) {
.hero {
justify-content: flex-start;
}
.hero-secondary {
  justify-content: center;
}
}

@media (max-width: 1024px) {
html {
  font-size: 9px;
}

.menu {
  flex-direction: column;
}
}

@media (min-width: 1200px) {
.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-720.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-720.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-720.jpg') center / cover no-repeat;
}
}

@media (min-width: 768px) {
.card {
  height: 100%;
}

.l-box {
  padding-bottom: 1.5rem;
  padding-left: 0.75rem;
}

.l-box:nth-child(odd) {
  padding-left: 0;
  padding-right: 0.75rem;
}
}

@media (min-width: 1900px) {
.hero {
  background: 
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-1080.jpg') center / cover no-repeat;
}

.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-1080.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-1080.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-1080.jpg') center / cover no-repeat;
}
}

@media (min-width: 2400px) {
.hero {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-1440.jpg') center / cover no-repeat;
}

.about {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/about-1440.jpg') center / cover no-repeat;
}

.blog {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/blog-1440.jpg') center / cover no-repeat;
}

.projects {
  background:
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/projects-1440.jpg') center / cover no-repeat;
}
}

@media (min-width: 3000px) {
.hero {
  background: 
  linear-gradient(rgba(34, 41, 47, 0.6),rgba(34, 41, 47, 0.6)) repeat-x top / 100% 100%,
  url('/assets/images/hero-mountain-2160.jpg') center / cover no-repeat;
}
}