/* Document */

:root {
  --color-primary: #2EC4B6;
  --color-secondary: #27A2E5;
  --color-tertiary: #FF4775;
  --color-white: #EFF1F2;
  --color-gray: #2C2526;
  --color-gray-2: #352D2E;
  --color-black: #221D1E;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.3;
  color: var(--color-white);
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-primary);
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0;
  line-height: 1.2;
  font-weight: 700;
}

h1 {
  font-size: 7.9rem;
}

h2 {
  font-size: 6.2rem;
}

h3 {
  font-size: 4.9rem;
}

h4 {
  font-size: 3.8rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 2.4rem;
}

button,
span,
li,
dl,
p {
  font-size: 2.4rem;
}

ul,
ol,
p {
  margin: 1.5rem 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

a:focus,
a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

/* Helper Classes */

.--uppercase {
  text-transform: uppercase;
}

.--p1 {
  padding: 10px;
}

/* Hairline */

hr {
  width: 100%;
}

.hairline--dotted--primary {
  border: 0;
}

.hairline--dotted--primary {
  padding-top: 4px;
  padding-bottom: 16px;
}

.hairline--dotted--primary:before {
  content: "";
  display: block;
  border-top: 2px dotted var(--color-primary);
}

.hairline--dotted--primary:after {
  content: "";
  display: block;
  margin-top: 4px;
  padding-top: 4px;
  border-top: 2px dotted var(--color-primary);
  border-bottom: 2px dotted var(--color-primary);
}

/* Content */

.content {
  padding: 85px 10px 10px;
  max-width: 960px;
  margin: 0 auto;
}

/* Card */

.card {
  padding: 10px;
  background-color: var(--color-gray);
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.card:focus,
.card:hover {
  background-color: var(--color-gray-2);
  box-shadow: var(--shadow-2);
}

.card--full-height {
  height: 100%;
}

/* Hero */

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin: 0;
}

.hero__subtitle {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

/* Project */

.project__technologies {
  padding-top: 3px;
}

.project__technology {
  text-transform: uppercase;
  margin-right: 5px;
  border: 1px solid var(--color-white);
  padding: 2px 5px;
}

.project__technology:last-child {
  margin-right: 0;
}

/* Media Queries */

@media (max-width: 576px) {
  html, body {
    font-size: 8px;
  }

  .hero__title {
    font-size: 6.2rem;
  }
}