/* Background */

.background-overlay {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(21, 21, 21, 0.6);
}

/* Container */

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 56px;
  padding: 0;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* Fonts */

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src:local("Rubik"),
  url("/assets/fonts/Rubik-Regular.woff2"),
  url("/assets/fonts/Rubik-Regular.woff"),
  url("/assets/fonts/Rubik-Regular.ttf");
}


@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src:local("Rubik Bold"),
  url("/assets/fonts/Rubik-Bold.woff2"),
  url("/assets/fonts/Rubik-Bold.woff"),
  url("/assets/fonts/Rubik-Bold.ttf");
}

/* Misc */

.is-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.bottom-align {
  position: absolute;
  bottom: 2rem;
}

.bold {
  font-weight: 700;
}

.l-box {
  padding: 10px;
}

.pure-g [class*=pure-u] {
  font-family: "Rubik", sans-serif;
}

/* Cards */

.card {
  position: relative;
  margin: 0;
  padding: 2.0rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #eee;
  color: #50596c;
  transition: all 0.3s ease;
  height: auto;
}

.card:focus,
.card:hover,
.card:active,
.card.active {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);  
}

@media (min-width: 768px) {
  .card {
    height: 100%;
  }
}

/* Luxbar */

.luxbar-brand:hover {
  color: inherit;
  text-decoration: none;
}

.luxbar-item {
  transition: all 0.3s ease;
}

.luxbar-item a:hover {
  color: inherit;
  text-decoration: none;
}

/* Header */

.header {
  vertical-align: middle;
}

/* Hero */

.hero-wrapper {
  position: relative;
  background-color: transparent;
  color: #eee;
  height: 400px;
  z-index: 1;
}

.hero {
  position: absolute;
  width: 100%;
  margin: auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 1;
}

.hero h1 {
  margin-top: 20px;
}

.hero p:last-child {
  margin: 0;
}

.profile-picture {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
  border-radius: 25%;
}

@media (min-width: 768px) {
  .hero h1 {
    margin-top: 0px;
  }
}


/* Purple Ribbon */

.ribbon-purple {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  background-color: #4352c6;
  color: #eee;
}

.ribbon-purple-top {
  height: 0;
  margin: auto;
  border-top: 50px solid transparent;
  border-left: 100vw solid #4352c6;
}

.ribbon-purple-bottom {
  height: 0;
  margin: auto;
  border-bottom: 50px solid transparent;
  border-right: 100vw solid #4352c6;
}

/* Grey Ribbon */

.ribbon-grey {
  height: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: auto;
  background-color: #212121;
  color: #eee;
}

.ribbon-grey-bottom {
  height: 0;
  margin: auto;
  border-bottom: 50px solid transparent;
  border-right: 100vw solid #212121;
}

/* Blog */

.blog-wrapper {
  position: relative;
  width: 100%;
  margin-top: -50px;
  z-index: 900;
}

.blog {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.blog-menu a {
  display: inline-block;
  padding: 2px 5px 0px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: #eee;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 1.6rem;
}

.blog-menu a:focus,
.blog-menu a:hover,
.blog-menu a:active,
.blog-menu a.active {
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Support transparent border colors in IE6. */
* html .top {
    filter:chroma(color=#123456);
    border-top-color:#123456;
    border-left-color:#123456;
}

/* Articles */

.date {
  display: block;
  font-size: 1.6rem;
  padding-bottom: 2.0rem;
}

/* Categories */

.categories {
  margin-bottom: 1.0rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.post-category {
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px;
  background-color: #d6dae4;
  transition: all 0.3s ease;
}

.post-category:focus,
.post-category:hover,
.post-category:active,
.post-category.active {
  text-decoration: none !important;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

.categories li {
  display: inline-block;
  padding: 2px 5px 0px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #d6dae4;
}

.categories li:last-child {
  margin-right: 0;
}

/* Pagination */

.pagination {
  display: inline-block;
}

.page_number {
  background-color: #eee;
  color: #50596c;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 1px 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

/* Button */

.button-wrapper {
  margin-top: 10px;
}

.btn-primary a {
  color: #eee;
}

.btn a:focus,
.btn a:hover,
.btn a:active,
.btn a.active {
  text-decoration: none;
}

/* Projects */

.projects-wrapper {
  position: relative;
  width: 100%;
  margin-top: -50px;
  z-index: 800;
}

.projects {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

.project-links {
  margin-top: 1rem;
}

/* Footer */

.footer-wrapper {
  background-color: transparent;
  color: #eee;
  margin-top: -50px;
}

footer {
  padding-top: 70px;
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

footer a {
  display: inline-block;
  padding: 2px 5px 0px;
  margin-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #eee;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer a:focus,
footer a:hover,
footer a:active,
footer a.active {
  background-color: #fff;
  text-decoration: none;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

footer p {
  font-size: 1.6rem;
}

.copyright {
  display: block;
  margin-top: 1rem;
}

@media (min-width: 500px) {
  .copyright {
    display: inline-block;
    float: right;
    margin-top: 0;
  }
}

/* Other */

hr {
  border-width: 0;
  border-top: 1px solid #eee;
}
