
.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 0 10px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 90%; }
}

@media (min-width: 550px) {
  .container {
    width: 90%; }
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.btn {
  font-size: 24px;
  height: auto;
  padding: 10px;
}

.word-block {
  background-color: #fff;
  padding: 2px 5px;
}

body {
  background-color: #eee;
  text-align: center;
}

.pure-g {
  letter-spacing: normal;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

p {
  font-size: 24px;
}

hr {
  width: 50%;
}

#question {
  font-size: 36px;
}

#answers {
  width: 90%;
  max-width: 400px;
  height: 48px;
  font-size: 36px;
  margin: auto;
  background: transparent;
  border: none;
  border-bottom: 2px solid #5764c6;
  color: #50596c;
  display: block;
}

#answers:focus {
  outline-width: 0;
}

.horoscope-information {
  display: none;
}
