/* Fonts */

@font-face {
  font-family:"Average Sans Regular";
  src:local("Average Sans Regular"),
  url("../fonts/AverageSans-Regular.woff2"),
  url("../fonts/AverageSans-Regular.woff"),
  url("../fonts/AverageSans-Regular.ttf")
}

/* Luxbar */

.luxbar-fixed{width:100%;position:fixed;z-index:1000;box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)}.luxbar-hamburger span,.luxbar-hamburger span::before,.luxbar-hamburger span::after{display:block;height:2px;width:26px;transition:0.6s ease}.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span{background-color:transparent}.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::before,.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::after{margin-top:0}.luxbar-header{display:flex;flex-direction:row;justify-content:space-between;align-items:center;height:58px}.luxbar-menu-left .luxbar-navigation,.luxbar-menu-left .luxbar-header{justify-content:flex-start}.luxbar-menu-right .luxbar-hamburger{margin-left:auto}.luxbar-brand{font-size:1.6em;padding:18px 24px 18px 24px}.luxbar-menu{min-height:58px;transition:0.6s ease;width:100%}.luxbar-navigation{display:flex;flex-direction:column;list-style:none;padding-left:0;margin:0}.luxbar-menu a,.luxbar-item a{text-decoration:none;color:inherit;cursor:pointer}.luxbar-item{height:58px}.luxbar-item a{padding:18px 24px 18px 24px;display:block}.luxbar-hamburger{padding:18px 24px 18px 24px;position:relative;cursor:pointer}.luxbar-hamburger span::before,.luxbar-hamburger span::after{content:'';position:absolute}.luxbar-hamburger span::before{margin-top:-8px}.luxbar-hamburger span::after{margin-top:8px}.luxbar-checkbox{display:none}.luxbar-checkbox:not(:checked) ~ .luxbar-menu{overflow:hidden;height:58px}.luxbar-checkbox:checked ~ .luxbar-menu{transition:height 0.6s ease;height:100vh;overflow:auto}.dropdown{position:relative;height:auto;min-height:58px}.dropdown:hover>ul{position:relative;display:block;min-width:100%}.dropdown>a::after{position:absolute;content:'';right:10px;top:25px;border-width:5px 5px 0;border-color:transparent;border-style:solid}.dropdown>ul{display:block;overflow-x:hidden;list-style:none;padding:0}.dropdown>ul .luxbar-item{min-width:100%;height:29px;padding:5px 10px 5px 40px}.dropdown>ul .luxbar-item a{min-height:29px;line-height:29px;padding:0}@media screen and (min-width: 650px){.luxbar-navigation{flex-flow:row;justify-content:flex-end}.luxbar-hamburger{display:none}.luxbar-checkbox:not(:checked) ~ .luxbar-menu{overflow:visible}.luxbar-checkbox:checked ~ .luxbar-menu{`height`:58px}.luxbar-menu .luxbar-item{border-top:0}.luxbar-menu-right .luxbar-header{margin-right:auto}.dropdown{height:58px}.dropdown:hover>ul{position:absolute;left:0;top:58px;padding:0}.dropdown>ul{display:none}.dropdown>ul .luxbar-item{padding:5px 10px}.dropdown>ul .luxbar-item a{white-space:nowrap}}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-doublespin span::before{transform:rotate(225deg)}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-doublespin span::after{transform:rotate(-225deg)}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-spin span::before{transform:rotate(45deg)}.luxbar-checkbox:checked+.luxbar-menu .luxbar-hamburger-spin span::after{transform:rotate(-45deg)}.luxbar-menu-dark,.luxbar-menu-dark .dropdown ul{background-color:#212121;color:#D6DAE4}.luxbar-menu-dark .active,.luxbar-menu-dark .luxbar-item:hover{background-color:#606060}.luxbar-menu-dark .luxbar-hamburger span,.luxbar-menu-dark .luxbar-hamburger span::before,.luxbar-menu-dark .luxbar-hamburger span::after{background-color:#D6DAE4}

/* Main CSS */

main {
  padding-top: 85px;
}

main a:hover,
main a:active {
  color: #48D6AB;
  text-decoration: underline;
}

a:hover {
  color:#48D6AB;
}

a,
.luxbar-item,
.button,
.button-primary {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  -transition: all 0.15s ease-in;
}

footer {
  color: #696969;
  line-height: 0.5rem;
}

footer a:link,
footer a:visited {
  color: #212121;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: #48D6AB;
  text-decoration: none;
}

.footnote {
  font-size: 1.4rem;
}

.luxbar-fixed {
  width: 100%;
  max-width: 768px;
}

.aside-info {
  display: inline;
}

.aside-title {
  display: inline-block;
  width: 100px;
}

.rwd-break {
  display: block;
}

.desktop-screenshot {
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left:5px;
  width: 75%;
}

.phone-screenshot {
  top: 20%;
  right: 1rem;
  z-index: 5;
  background-image: url(/assets/images/phone.svg);
  padding: 6% 2% 0;
  width: 30%;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

.project-hero {
  position:relative;
  margin-bottom:0.75rem;
  overflow:hidden;
}

.copyright {
  display: block;
  float: none;
}

/* Media Queries */

@media (min-width: 320px) {
.luxbar-fixed  {
  width: 87.5%;
}
}

@media (min-width: 400px) {
.luxbar-fixed {
  width: 85%;
}
.copyright {
  float: right;
}
}

@media (min-width: 550px) {
.luxbar-fixed {
  width: 80%;
}
.aside-info {
  display: block;
}
.rwd-break {
  display: none;
}
}
