---
layout: default
title: Categories
---
<div class="blog-wrapper">
  <div class="ribbon-purple-top"></div>
  <div class="ribbon-purple">
    <div class="blog">
{% include blog-menu.html %}

<div class="pure-g">
  <div class="pure-u-1-1 l-box">
<div class="card">
<ul>
{% for category in site.categories %}
  <li><b><a href="/blog/categories/{{ category[0] | downcase }}/">{{ category[0] | upcase }}</a></b> ({{ category | last | size }})</li>
{% endfor %}
</ul>
</div>
</div>
  </div>
</div>
</div>
  <div class="ribbon-purple-bottom"></div>
</div>
