---
layout: default
title: Blog
categories: blog
---

{% include blog-menu.html %}

{% for post in site.posts limit:5 %}
  <article class="post card">
    <h3 class="no-margin-bottom"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <span class="date">{{post.date | date: "%B %e, %Y"}}</span>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      {% for categories in post.categories %}
<span><a class="post-category" href="/blog/categories/{{categories | downcase}}">{{categories}}</a></span>
      {% endfor %}
  </article>
{% endfor %}
