/* Fonts */

@font-face {
  font-family:"Average Sans Regular";
  src:local("Average Sans Regular"),
  url("/assets/fonts/AverageSans-Regular.woff2"),
  url("/assets/fonts/AverageSans-Regular.woff"),
  url("/assets/fonts/AverageSans-Regular.ttf")
}

/* Main CSS */

main {
  padding-top: 85px;
}

a,
.luxbar-item,
.button,
.button-primary {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  -transition: all 0.15s ease-in;
}

footer {
  color: #696969;
}

footer a:link,
footer a:visited {
  color: #212121;
  text-decoration: none;
}

footer a:hover,
footer a:active {
  color: #6200EA;
  text-decoration: underline;
}

.luxbar a:hover,
.luxbar a:active {
  color: inherit;
  text-decoration: none;
}

::-moz-selection {
background-color: #D1C4E9;
}

::selection {
  background-color: #D1C4E9;
}

.bold {
  font-weight: 700;
}

.footnote {
  font-size: 1.4rem;
}

.luxbar-fixed {
  width: 100%;
  max-width: 768px;
}

.aside-info {
  display: inline;
}

.aside-title {
  display: inline-block;
  width: 100px;
}

.rwd-break {
  display: block;
}

.desktop-screenshot {
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left:5px;
  width: 75%;
}

.phone-screenshot {
  top: 20%;
  right: 1rem;
  z-index: 5;
  background-image: url(/assets/images/phone.svg);
  padding: 6% 2% 0;
  width: 30%;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

.project-hero {
  position:relative;
  margin-bottom:0.75rem;
  overflow:hidden;
}

.copyright {
  display: block;
  float: none;
}

/* Media Queries */

@media (min-width: 320px) {
.luxbar-fixed  {
  width: 87.5%;
}
}

@media (min-width: 400px) {
.luxbar-fixed {
  width: 85%;
}
.copyright {
  float: right;
}
}

@media (min-width: 550px) {
.luxbar-fixed {
  width: 80%;
}
.aside-info {
  display: block;
}
.rwd-break {
  display: none;
}
}
