---
layout: default
---

<div class="pure-u-1-1">
  {% include blog-menu.html %}
  <div class="post">
    <article>
      <h2>{{ page.title }}</h2>
      <span class="date"> {{page.date | date: "%B %e, %Y"}}</span>
      <div class="entry">
        {{content}}
      </div>
    </article>
    <div class="post-metadata">
      <div class="categories">
        <span class="small-label">Categories:</span>
        {% for categories in page.categories %}
        <span>
          <a class="link-button post-category" href="/blog/categories/{{categories | downcase}}">{{categories}}</a>
        </span>
        {% endfor %}
      </div>
      <div class="tags">
        <span class="small-label">Tags:</span>
        {% for tags in page.tags %}
        <span class="post-tag">{{tags}}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>