<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212121">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#d6dae4">
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

  {% include nav.html %}

  <div class="hero-wrapper">
    <div class="hero">
      <h1>Blog</h1>
      <hr>
      <p>A place to write about my musings.</p>
    </div>
  </div>

<div class="container">
<div class="pure-g">
  <div class="pure-u-1-1 l-box">

<main>
  {% include blog-menu.html %}

  <article class="post">
    <h2 class="no-margin-bottom">{{ page.title }}</h2>
    <span class="date"> {{page.date | date: "%B %e, %Y"}}</span>

    <div class="entry">
      {{ content }}
    </div>

<div class="categories">
<span>Categories:</span>
    {% for categories in page.categories %}
<span><a class="post-category" href="/blog/categories/{{categories | downcase}}">{{categories}}</a></span>
    {% endfor %}
</div>
  </article>

<!--
<hr>

<article>
    <div class="categories">
  <h3>Categories</h3>
    <ul>
  {% for category in page.categories %}
      <li><a href="/category/{{ category[0] }}/">{% if category[0] == 'nothing' %}{{ category[0] | upcase }}{% else %}{{ category[0] | capitalize }}{% endif %}</a></li>
  {% endfor %}
    </ul>
    </div>
</article>
-->

</main>

<hr>

{% include footer.html %}
</div>
</div>
</div>
</body>
</html>
